@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*general reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Indie Flower", cursive, sans-serif;
    font-weight: 400;
    font-weight: 700;
}
.site_header{
    min-height:100vh;
    width: 100%;
    background:url(../images/dost_4.jpg) center center / cover no-repeat fixed;
    position: relative;    
}

nav{
    display: flex;
    padding: 20px 5px;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    align-items: center;
}
.nav_links ul li {
    list-style: none;
    display: inline-block;
    margin-left: 72px;
    margin-right: 44px;
    margin-top: 14px;
    padding: 8px 12px;
    position: relative; 
}
.nav_links ul li a{
  color:rgb(188, 139, 98);
  text-decoration: none;
  font-size: 1.5rem;
}
/*underline effect*/
.nav_links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(202, 114, 7);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav_links ul li:hover::after{
  width: 100%;
}