@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
/*general reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Edu SA Hand", cursive, sans-serif;
    font-weight: 600;
}
.contact{
    min-height: 100vh;
    background-color: rgba(137, 74, 35, 0.853);
    padding:50px;
    text-align: center;
}

.container {
    margin: 0 auto;

}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color:rgb(90, 54, 18)
}
.contact_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:30px;    
}
.contact_form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color:rgb(90, 54, 18)
}
.form_group{
    margin-bottom: 30px;
}
input, textarea{
    width:100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: rgb(197, 159, 112);
    color:blanchedalmond
}
input:focus,
textarea:focus{
    outline:none;
   box-shadow:0 0 8px black;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(122, 70, 18);
    color:blanchedalmond ;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
  background-color: rgb(193, 114, 18);     
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 15rem;
  font-size: 0.75rem;
  background-color: rgb(208, 127, 73);
  position: relative;
  bottom: 0;
  width: 100%;
} 
/*adding links into icons*/
.icons a{
  color:rgb(124, 83, 50);
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}
.icons a:visited{
  color: rgb(60, 30, 1);
}
.icons a:hover {
  color:black; 
}
.icons a:active{
  color:rgb(156, 71, 11)
}